
body {
	background-color: #009933;
  margin: 0;
}
header {
	height: 133px;
	background-color: #000000;
}
#content {
	padding-top: 80px;
	min-height: 418px;
}
footer {
	background-color: #000000;
}
.wrapper {
	width: 980px;
	margin: auto;
}
