
body {
	background-color: #f5eec2;
        margin: 0;
	text-align:center;
}
header {
	height: 23px;
	background-color: #416a59;
	font-family:'Times New Roman';
	font-size: 23px;
		
}
h1 {
	font-size:33px;
	font-color:#39395f;

}
#content {
	padding-top: 8px;
	
}
footer {
	background-color: #000000;
}
.wrapper {
	width: 980px;
	margin: auto;
}
