body {
	font-color:#ffffff;
        margin: 0;
        text-align:center;
	margin-top:3%;
	background: url(./images/f.jpeg);
	background-repeat:no-repeat;
	background-size:100%;
	
}

header {
	text-align:center;
        font-color:#ffffff;
	font-family:'Times New Roman';
	font-size: 23px;
	text-color:#ffffff;
	
		
}

main {. padding:0;
	text-align:center;
	font-color:#ffffff;
	
}


h1 {
	font-size:33px;
	font-color:#ffffff;
        text-align:center;
}

h2 {
	text-align:center;
	font-color:#ffffff;
}

ul {
text-align: left;
list-style-position: inside;
padding-left:450px;
}


ol {
text-align: left;
list-style-position: inside;
padding-left:450px;
}

p { padding:13px;
}

#content {
	padding-top: 8px;
	
}
footer {

	font-color:#ffffff;
	padding-bottom:23px;
	
}
.wrapper {
	width: 980px;
	margin: auto;
}

img {
	width:300px;
	height:200px;
}

title {
	font-color:#000000;
}

 
